* {
    font-family: 'Arial', 'Poppins', 'Tahoma';
}

body {
    background: rgb(79, 79, 79);
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color: black;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(103, 113, 255);
}

.center {
    margin: auto;
    width: 60%;
    padding: 3%;
    background: white;
    border: 3px solid black;
    color: black;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

h1 {
    text-align: center;
}

div {
    padding: 2%;
}