* {
    font-family: 'Arial', 'Poppins', 'Tahoma';
}

body {
    background: rgb(79, 79, 79);
}

#mainImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    width: 600px;
}

.nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    color: black;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color:rgb(103, 113, 255);
}

.socialNav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.socialNav li {
    display: inline-block;
    padding: 10px;
    padding-top: 35px;
    border-radius: 5px;
    color: black;
    font-size: large;
    font-weight: bold;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 5px 5px #222);
}

.credits {
    text-align: center;
    font-size: small;
    color:rgb(23, 23, 23);
}

.credits a {
    color:rgb(23, 23, 23);
}

.credits a:hover {
    color:rgb(103, 113, 255);
}

/* Responsive */
@media screen and (max-width: 900px) {
    #mainImage {
        width: 500px;
    }
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    #mainImage {
        width: 400px;
    }

}