@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
    font-family: 'Poppins', 'Tahoma';
}

body {
    background-color: lavender;
}

nav {
    border: 2px solid black;
    border-collapse: collapse;
    display: flex;
    background: rgb(150, 0, 0);
    margin: auto;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

img {
    width: 150px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

nav a {
    display: inline;
    margin-left: 2em;
    padding-right: 2em;
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

nav a:hover {
    color: yellow;
}

nav a:hover span {
    color: yellow;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}


.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

h1 {
    text-align: center;
}

.header {
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
    font-size: xxx-large;
}

.desc {
    text-align: center;
    list-style: none;
}

.stable {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.stable thead tr {
    /*background-color: #009879;*/
    color: #ffffff;
    text-align: left;
}

.stable th,
.stable td {
    padding: 12px 15px;
}

.stable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.stable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.stable tbody tr:last-of-type {
    border-bottom: 2px solid rgb(150, 0, 0);;
}

.tred { color: rgb(255,161,161); }
.tblue { color: rgb(161,161,255) }
.tgreen { color: rgb(161,255,161);; }
.tyellow { color: rgb(255, 248, 161); }

.tamoMain {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    width: 650px;
}

.features-container ul li {
    background: rgb(161,161,255);
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
    text-align: center;
    list-style: none;
    border: 2px solid black;
    border-collapse: collapse;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
  }

  
.features-container ul li .icon-container {
    height: 100px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    margin: 0 auto;
}

.features-container ul li .icon-container.one {
    width: 90px;
}

.features-container ul li .icon-container.two {
    width: 100px;
    }

.features-container ul li .icon-container.three {
    width: 80px;
}

.features-container ul li .features-title {
    color:black;
}

@media only screen and (max-width: 799px) {
    .features-container ul {
        margin-left: 120px;
        margin-right: 120px;
      }
}

@media only screen and (max-width: 550px) {
    .features-container ul {
        margin-left: 100px;
        margin-right: 100px;
      }
}

@media only screen and (min-width: 800px) {
    .features-container ul {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (auto)[3];
            grid-template-columns: repeat(3, auto);
        grid-gap: 3em;
        margin-left: 20px;
        margin-right: 20px;
      }
  
      .features-container li {
          height: 100;
          width: 100;
      }
  
      .features-title {
          place-content: center;
      }
}

@media only screen and (min-width: 1400px) {
    .features-container ul {
        margin-left: 200px;
        margin-right: 200px;
      }
}

@media only screen and (min-width: 1900px) {

    .features-container ul {
        margin-left: 400px;
        margin-right: 400px;
      }
  }